configuration {
	modi: "run,drun,window";
	theme: "/home/rromain/.local/share/rofi/themes/slate.rasi";
	color-normal: "#2e3440, #d8dee9, #2e3440, #2e3440, #bf616a";
	color-urgent: "#2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b";
	color-active: "#2e3440, #b48ead, #2e3440, #2e3440, #93e5cc";
	color-window: "#2e3440, #2e3440, #2e3440";
}
@import "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
